* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Cambria;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #ffffff;
}

header {
	text-align: center;
	padding: 16px 0;
	color: #ffffff;
	background-color: #2ed573;
}

.container {
	min-height: 75vh;
	display: flex;
}

aside {
	padding: 24px 32px;
}

.menu {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	position: sticky;
	top: 16px;
}

.vr {
	width: 5px;
	background-color: #2ed573;
}

main {
	padding: 24px 32px;
	flex: 1;
}

form {
	max-width: 560px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.form-control {
	display: flex;
	flex-direction: column;
}

.form-control > label::after {
	content: " *";
	color: #ff0000;
}

.form-control input {
	height: 40px;
	padding: 0 8px;
	font-size: inherit;
	font-family: inherit;
}

.form-submit {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-submit button {
	padding: 8px 16px;
	font-size: inherit;
	font-family: inherit;
}

footer {
	text-align: center;
	padding: 16px 0;
	color: #ffffff;
	background-color: #212529;
}
