* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Cambria;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #ffffff;
}

header {
	text-align: center;
	padding: 16px 0;
	color: #ffffff;
	background-color: #2ed573;
}

.container {
	min-height: 75vh;
	display: flex;
}

aside {
	padding: 24px 32px;
}

.menu {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	position: sticky;
	top: 16px;
}

.vr {
	width: 5px;
	background-color: #2ed573;
}

main {
	padding: 24px 32px;
	flex: 1;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

form {
	max-width: 560px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.form-control {
	display: flex;
	flex-direction: column;
}

.form-control > label::after {
	content: " *";
	color: #ff0000;
}

.form-control input {
	height: 40px;
	padding: 0 8px;
	font-size: inherit;
	font-family: inherit;
}

.form-submit button {
	padding: 8px 16px;
	font-size: inherit;
	font-family: inherit;
}

.data {
	position: relative;
}

.table-container {
	max-height: 400px;
	overflow-y: scroll;
	border: 1px solid #d3d3d3;
}

table {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

thead {
	position: sticky;
	top: 0;
	background-color: #ffffff;
	border-bottom: 1px solid #000000;
}

tbody tr:nth-child(odd) {
	background-color: #eeeeee;
}

th:hover,
tr:hover {
	background-color: #dddddd;
}

td:nth-child(5) {
	text-align: right;
}

td:last-child {
	text-align: center;
}

th,
td {
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding: 4px 8px;
}

td button {
	padding: 4px 8px;
	font-size: 16px;
	font-family: inherit;
}

#loading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading-icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
	border-color: palevioletred transparent;
	animation: rotate 400ms linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.pagination {
	display: flex;
	justify-content: end;
	gap: 24px;
	margin-top: 8px;
}

.pagination-controls {
	display: flex;
}

.pagination input {
	width: 56px;
	text-align: center;
	font-size: inherit;
	font-family: inherit;
}

.pagination select {
	padding: 0 8px;
	font-size: inherit;
	font-family: inherit;
}

.pagination button {
	width: 48px;
	font-family: inherit;
}

footer {
	text-align: center;
	padding: 16px 0;
	color: #ffffff;
	background-color: #212529;
}
